/* Variables */
:root {
    --background-color-1: ;
    --background-color-2: ;

    --font-color-dark: ;
    --font-color-light: ;
    --button-background-color: ;
    --button-text-color: ;
    --button-hover-color: ;
    --navbar-color: ;
    --footer-color: ;

    --main-font-type: ;
    --navbar-font-type: ;
    --button-font-type: ;
}